/*Media querys. 
/Lägg dessa i respektive element.
/breakpoints:
/DESKTOP 1280px
/TABLET 768px
/MOBILE 480px
*/

.hide-on-desktop {
    @media screen and (min-width: 768px) {
        display: none !important;
    }
}

.hide-on-tablet {
    @media (min-width: 481px) and (max-width: 768px) {
        display: none !important;
    }
}

.show-on-tablet {
    @media (min-width: 481px) and (max-width: 767px) {
        display: block;
    }
}

.hide-on-mobile {
    @media screen and (max-width: 480px) {
        display: none !important;
    }
}