//Color variables
$gray-dark: #333;
$white: #fff;
$smoke: #e8e8e8;
$green: #45b29d;
$red: #df5a49;
$brown: #97522a;
$orange: #e27a3f;
$yellow: #efc94c;
$blue: #324d5c;
$transparent: rgba(255, 255, 255, 0);

//Grid variables and grid elements
$main-margin: 0.75rem;
$main-padding: 1rem;
$gutter-size: 1rem;
$well-padding: $main-padding;

// section spacing
$section-padding-lg-top: 8rem;
$section-padding-lg-bottom: 3.75rem;
$section-padding-md-top: 3rem;
$section-padding-md-bottom: 3.75rem;
$section-padding-sm-top: 1.5rem;
$section-padding-sm-bottom: 1.5rem;

//Fonts
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-headings: 'Ruda', sans-serif;

$base-line-height: 1.5rem;
$border-radius-base: 6px;
$btn-border-width: 2px;
$btn-border-bottom-width: 5px;