<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASAP - Kontakt</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css">
</head>

<body class="kontakt">
    <!-- Nav section -->
    <nav class="navbar clearfix">
        <div id="nav-bg-wrapper">
            <div id="nav-top-row" class="clearfix">
                <a class="site-logo" href="../index.html">
                    <img id="logo" src="../images/svg/asap-logo-02.svg" alt="ASAP logo">
                </a>
                <ul class="nav-list clearfix">
                    <li><a href="vad-vi-gor.html">Vad vi gör</a></li>
                    <li><a href="kundcase.html">Kundcase</a></li>
                    <li class="active"><a href="kontakt.html">Kontakt</a></li>
                </ul>
                <div class="icon-container">
                    <a id="hamburger" href="#" class="nav-collapse">
                        <figure id="openIcon"></figure>
                        <figure id="closeIcon"></figure>
                    </a>
                </div>
            </div>
        </div>
        <div id="menu-up" class="nav-menu lead bg-blue">
            <ul class="menu-list">
                <li><a href="vad-vi-gor.html">Vad vi gör</a></li>
                <li><a href="kundcase.html">Kundcase</a></li>
                <li class="active"><a href="kontakt.html">Kontakt</a></li>
            </ul>
        </div>
    </nav>
    <!-- //End nav section -->
    <!--- header-section-->
    <header>
        <div class="bg-green" id="kontakt-bg">
            <div class="main-headline-box">
                <h1 class="text-center headline-margin">Det är vi som är ASAP</h1>
                <img id="large-flash" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
                <img id="small-flash" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
            </div>

            <svg class="header-diagonal-top" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none">
                <polygon fill="#45b29d" points="100 0 100 10 0 10" />
            </svg>

            <div class="header-diagonal-bottom bg-green">
                <p class="lead text-center headline-margin">Sveriges, kanske världens, snabbaste webbyrå.</p>
            </div>
        </div>
    </header>
    <!-- /end header section -->

    <!--Text-->
    <section class="section-padding-md var-story lg-body-text arrow-down-green">
        <div class="grid-container">
            <div class="container">
                <div class="col-8">
                    <h2 class="green-text">Vår story</h2>
                    <p>ASAP Development startades 2016 av fyra utvecklare som märkte att andra webbyråer mest fikar och spelar pingis.</p>
                    <p>Samtidigt vet vi att tidsaspekten ofta är det viktigaste för dagens kunder. Det måste gå snabbt.</p>
                    <p>Därför har vi sett till att ASAP Development blivit Sveriges, kanske världens, snabbaste webbyrå.</p>
                </div>

                <div class="col-4">
                    <div class="circle-wrapper">
                        <div class="circle bg-green lg-body-text-static">
                            <div class="inner-circle well container-col">
                                <p class="text-center">Vi levererar din sajt på <b>24 timmar</b>. Med högsta kvalitet och full support.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Kontaktrutor-->
    <section class="bg-smoke contact-background section-padding-md">
        <div class="grid-container">
            <h2 class="red-text section-heading text-center">Möt våra medarbetare</h2>
            <div id="contact-media-query-squasher">
                <div class="contact-main">

                    <div class="contact-card sonic col-4">
                        <img class="img-responsive" src="../images/img/medarbetare-sonic.jpg" alt="Sonic" />
                        <div class="bg-white contact-card-inner">
                            <h3 class="contact-heading">Sonikku za Hejjihoggu</h3>
                            <p class="contact-title">Webbutveckling & Support</p>
                            <div>
                                <i class="fa fa-envelope "></i> <a href="http://www.theonion.com/" class="">sonikku@asap.com</a>
                            </div>
                        </div>
                    </div>

                    <div class="contact-card col-4">
                        <img class="img-responsive" src="../images/img/medarbetare-max.jpg" alt="Max Rockatansky" />
                        <div class="bg-white contact-card-inner">
                            <h3 class="contact-heading">Max Rockatansky</h3>
                            <p class="contact-title">Emergency Transporter</p>
                            <div>
                                <i class="fa fa-envelope  envelope-size"></i> <a href="http://www.collegehumor.com/" class="">max@asap.com</a>
                            </div>
                        </div>
                    </div>

                    <div class="contact-card col-4">
                        <img class="img-responsive" src="../images/img/medarbetare-barry.jpg" alt="Barry Allen" />
                        <div class="bg-white contact-card-inner">
                            <h3 class="contact-heading">Barry Allen</h3>
                            <p class="contact-title">Tech Scientist</p>
                            <div>
                                <i class="fa fa-envelope "></i> <a href="http://www.overheardinnewyork.com/" class="">barry@asap.com</a>
                            </div>
                        </div>
                    </div>

                    <div class="contact-card daniel col-4">
                        <img class="img-responsive" src="../images/img/medarbetare-daniel.jpg" alt="Daneil Morales" />
                        <div class="bg-white contact-card-inner">
                            <h3 class="contact-heading">Daniel Morales</h3>
                            <p class="contact-title">Emergency Transporter</p>
                            <div>
                                <i class="fa fa-envelope "></i> <a href="http://www.funnyordie.com/" class="">daniel@asap.com</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="karta">
        <div class="karta-inner">
            <h2 class="section-heading text-center">Våra konsulter</h2>
        </div>
    </section>

    <!--Form-->
    <section class="form-section section-padding-md">
        <div class="form-wrapper bg-smoke grid-container">
            <div class="form-container bg-white">
                <h2 class="section-heading">Vill du komma i kontakt med oss?</h2>
                <form>
                    <div class="container">
                        <div class="col-5">
                            <div class="form-group">
                                <label for="your-name">Namn</label>
                                <div class="form-input">
                                    <input type="text" name="your-name" id="your-name" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="your-email">E-mail</label>
                                <div class="form-input">
                                    <input type="email" name="your-email" id="your-email" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="your-phone">Telefon</label>
                                <div class="form-input">
                                    <input type="tel" name="your-phone" id="your-phone"> </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label for="your-message">Meddelande</label>
                                <div class="form-input">
                                    <textarea name="your-message" id="your-message" required=""> </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Skicka Meddelande" class="btn btn-submit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer>
        <div class="bg-blue">
            <div class="grid-container">
                <div class="container">
                    <div class="col-4">
                        <h4>ASAP DEVELOPMENT</h4>
                        <address>
                        Tomtebodavägen 3A<br>
                        171 65 Solna<br>
                        info@asapdev.se<br>
                        +46 8 466 60 00
                    </address>
                    </div>
                    <div class="col-8"></div>
                </div>
                <ul class="ul-social">
                    <li><i class="fa fa-facebook-square"></i> <a href="#">Facebook</a></li>
                    <li><i class="fa fa-twitter"></i> <a href="#">Twitter</a></li>
                    <li><i class="fa fa-instagram"></i> <a href="#">Instagram</a></li>
                </ul>
                <a id="scrollTop" href="#" class="btn btn-to-top"><i class="fa fa-angle-up"></i> </a>
            </div>
        </div>
    </footer>
    <script src="../js/main.js"></script>
    <script src="../js/nav.js"></script>
</body>

</html>