<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASAP - Kundcase</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css"> </head>

<body>
    <!-- Nav section -->
    <nav class="navbar clearfix">
        <div id="nav-bg-wrapper">
            <div id="nav-top-row" class="clearfix">
                <a class="site-logo" href="../index.html"> <img id="logo" src="../images/svg/asap-logo-02.svg" alt="ASAP logo"> </a>
                <ul class="nav-list clearfix">
                    <li><a href="vad-vi-gor.html">Vad vi gör</a></li>
                    <li class="active"><a href="kundcase.html">Kundcase</a></li>
                    <li><a href="kontakt.html">Kontakt</a></li>
                </ul>
                <div class="icon-container">
                    <a id="hamburger" href="#" class="nav-collapse">
                        <figure id="openIcon"></figure>
                        <figure id="closeIcon"></figure>
                    </a>
                </div>
            </div>
        </div>
        <div id="menu-up" class="nav-menu lead bg-blue">
            <ul class="menu-list">
                <li><a href="vad-vi-gor.html">Vad vi gör</a></li>
                <li class="active"><a href="kundcase.html">Kundcase</a></li>
                <li><a href="kontakt.html">Kontakt</a></li>
            </ul>
        </div>
    </nav>
    <!-- //End nav section -->
    <!--- header-section-->
    <header>
        <div class="bg-blue" id="kundcase-bg">
            <div class="main-headline-box">
                <h1 class="white-text text-center headline-margin">Våra projekt</h1>

                <img id="large-flash" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
                <img id="small-flash" src="../images/icons/icon-flat3d-flash.svg" alt="flash"> </div>
            <svg class="header-diagonal-top" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none">
                <polygon fill="#324d5c" points="100 0 100 10 0 10" /> </svg>
            <div class="header-diagonal-bottom bg-blue">
                <p class="lead white-text text-center headline-margin">Gör som några av världens största och mest innovativa företag. Anlita ASAP!</p>
            </div>
        </div>
    </header>
    <!-- /end header section -->

    <section class="projekt bg-smoke">
        <div class="project-content projekt-item bg-white section-padding-md arrow-down-blue">
            <div class="alert projekt-alert left">
                <ul class="alert-text left">
                    <li class="">Sajten fixad på</li>
                    <li class="alert-num">24</li>
                    <li class="">timmar</li>
                </ul>
                <img src="../images/svg/alert-circle-projekt-left.svg" alt="Sajten fixad på 36 timmar" />
            </div>
            <div class="grid-container">
                <div class="container">
                    <div class="col-5"> <img class="img-responsive" src="../images/img/projekt-logo-mob-dunder_mifflin.jpg" alt="Dunder Mifflin" /> </div>
                    <div class="col-7">
                        <h3 class="h3-to-h4">Dunder Mifflin</h3>
                        <p class="lg-body-text text-center-sm">Pappersföretaget Dunder Mifflin behövde bli mer responsiva. Det fixade vi över natten.</p>
                        <div class="section-padding-sm">
                            <a class="center-block-mobile btn btn-blue" href="#">Visa projekt</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-content projekt-item bg-lexcorp section-padding-md">
            <div class="alert projekt-alert right">
                <ul class="alert-text right">
                    <li class="">Sajten fixad på</li>
                    <li class="alert-num">36</li>
                    <li class="">timmar</li>
                </ul>
                <img src="../images/svg/alert-circle-projekt-right.svg" alt="Sajten fixad på 36 timmar" />
            </div>
            <div class="grid-container">
                <div class="container">
                    <div class="col-7">
                        <h3 class="h3-to-h4">LexCorp</h3>
                        <p class="lg-body-text text-center-sm">Koncernen LexCorp behövde informera om ett olyckligt kemiskt utsläpp. Självklart valde de ASAP.</p>
                        <div class="section-padding-sm">
                            <a class="center-block-mobile btn btn-blue-fill" href="#">Visa projekt</a>
                        </div>
                    </div>
                    <div class="col-5"> <img class="img-responsive" src="../images/img/projekt-logo-mob-lexcorp.jpg" alt="Lexcorp" />
                    </div>
                </div>
            </div>
        </div>
        <div class="project-content projekt-item bg-white vandeley section-padding-md arrow-up-blue">
            <div class="alert projekt-alert left">
                <ul class="alert-text left">
                    <li class="">På plats inom</li>
                    <li class="alert-num">2</li>
                    <li class="">timmar</li>
                </ul>
                <img src="../images/svg/alert-circle-projekt-left.svg" alt="På plats inom 2 timmar" />
            </div>
            <div class="grid-container">
                <div class="container">
                    <div class="col-7"> <img class="img-responsive" src="../images/img/projekt-logo-dsktop-vandelay.jpg" alt="Vandelay Industries" />
                    </div>
                    <div class="col-5">
                        <h3 class="h3-to-h4">Vandelay Industries</h3>
                        <p class="lg-body-text text-center-sm">Alla utvecklare på latexföretaget Vandelay blev magsjuka. ASAPs personal ryckte in omgående.</p>
                        <div class="section-padding-sm">
                            <a class="center-block-mobile btn btn-blue" href="#">Visa projekt</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-blue quote-section section-padding-md">
        <div class="grid-container">
            <div class="quote-header">
                <div class="quote">
                    <img src="../images/svg/icon-quote.svg" alt="citat">
                </div>
                <h2 class="section-heading green-text text-center">Så säger våra kunder</h2>
            </div>
            <div class="container">
                <div class="col-4">
                    <div class="quote-text-box first">
                        <p class="quote-text lg-body-text">“Webbsidan blev klar medan jag drack kaffe.”</p>
                        <p class="quote-person lg-body-text">- Tony Stark</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="quote-text-box">
                        <p class="quote-text lg-body-text">”Tänk om allt gick så fort som det gör för ASAP”</p>
                        <p class="quote-person lg-body-text">- Bruce Wayne</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="quote-text-box last">
                        <p class="quote-text lg-body-text">“Time is money, friend.”</p>
                        <p class="quote-person lg-body-text">- Scrooge McDuck</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="form-section section-padding-md">
        <div class="form-wrapper bg-smoke grid-container">
            <div class="form-container bg-white">
                <h2 class="section-heading">Vi vill höra av dig!</h2>
                <form>
                    <div class="container">
                        <div class="col-5">
                            <div class="form-group">
                                <label for="your-name">Namn</label>
                                <div class="form-input">
                                    <input type="text" name="your-name" id="your-name" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="your-email">E-mail</label>
                                <div class="form-input">
                                    <input type="email" name="your-email" id="your-email" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="your-phone">Telefon</label>
                                <div class="form-input">
                                    <input type="tel" name="your-phone" id="your-phone"> </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label for="your-message">Meddelande</label>
                                <div class="form-input">
                                    <textarea name="your-message" id="your-message" required=""> </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Skicka Meddelande" class="btn btn-submit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer>
        <div class="bg-blue">
            <div class="grid-container">
                <div class="container">
                    <div class="col-4">
                        <h4>ASAP DEVELOPMENT</h4> <address>
                        Tomtebodavägen 3A<br>
                        171 65 Solna<br>
                        info@asapdev.se<br>
                        +46 8 466 60 00
                    </address> </div>
                    <div class="col-8"></div>
                </div>
                <ul class="ul-social">
                    <li><i class="fa fa-facebook-square"></i> <a href="#">Facebook</a></li>
                    <li><i class="fa fa-twitter"></i> <a href="#">Twitter</a></li>
                    <li><i class="fa fa-instagram"></i> <a href="#">Instagram</a></li>
                </ul>
                <a id="scrollTop" href="#" class="btn btn-to-top"><i class="fa fa-angle-up"></i> </a>
            </div>
        </div>
    </footer>
    <script src="../js/main.js"></script>
    <script src="../js/nav.js"></script>
</body>

</html>