<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASAP Development - Vad vi gör</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <!-- Nav section -->
    <nav class="navbar clearfix">
        <div id="nav-bg-wrapper">
            <div id="nav-top-row" class="clearfix">
                <a class="site-logo" href="../index.html">
                    <img id="logo" src="../images/svg/asap-logo-02.svg" alt="ASAP logo">
                </a>

                <ul class="nav-list clearfix">
                    <li class="active"><a href="vad-vi-gor.html">Vad vi gör</a></li>
                    <li><a href="kundcase.html">Kundcase</a></li>
                    <li><a href="kontakt.html">Kontakt</a></li>
                </ul>
                <div class="icon-container">
                    <a id="hamburger" href="#" class="nav-collapse">
                        <figure id="openIcon"></figure>
                        <figure id="closeIcon"></figure>
                    </a>
                </div>

            </div>
        </div>
        <div id="menu-up" class="nav-menu lead bg-blue">
            <ul class="menu-list">
                <li class="active"><a href="vad-vi-gor.html">Vad vi gör</a></li>
                <li><a href="kundcase.html">Kundcase</a></li>
                <li><a href="kontakt.html">Kontakt</a></li>
            </ul>
        </div>
    </nav>
    <!-- //End nav section -->
    <!--- header-section-->
    <header>
        <div class="bg-red" id="vad-vi-gor-bg">
            <div class="main-headline-box">
                <h1 class="white-text text-center headline-margin">Brinner det i knutarna?</h1>
                <img id="large-flash" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
                <img id="small-flash" src="../images/icons/icon-flat3d-flash.svg" alt="flash">
            </div>

            <svg class="header-diagonal-top" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none">
                <polygon fill="#df5a49" points="100 0 100 10 0 10" />
            </svg>

            <div class="header-diagonal-bottom bg-red">
                <p class="lead white-text text-center headline-margin">Vi vet att tiden är våra kunders största bristvara. Och vi har lösningen.</p>
            </div>
        </div>
    </header>
    <!-- //end header section -->
    <div class="bg-white section-padding-md-special">
        <div class="grid-container">
            <div class="container space-between">
                <div class="col-6 lg-body-text container-col well">
                    <p>I en värld som snurrar allt snabbare kan förutsättningarna förändras över en natt.</p>
                    <p>Då behövs en webbyrå som agerar utan att blinka. Det är därför ASAP Development finns.</p>
                </div>
                <div class="col-4">
                    <div class="circle bg-red lg-body-text-static hide-on-mobile hide-on-tablet">
                        <div class="inner-circle well container-col">
                            <p class="text-center">Vi levererar din sajt på <br><b>24 timmar</b>. Med högsta kvalitet och full support.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hide-on-desktop">
            <svg class="header-diagonal-top hide-on-desktop" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none">
                <polygon fill="#df5a49" points="0 0 100 10 0 10" />
            </svg>
            <div class="bg-red content-diagonal-bottom">
                <div class="well">
                    <p class="white-text text-center lg-body-text-static">Vi levererar din sajt på <b>24 timmar</b>. Med högsta kvalitet och full support.</p>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div id="handshake">
            <svg class="content-diagonal-top" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none">
                <polygon fill="#45b29d" points="100 0 100 10 0 10" />
            </svg>
        </div>
        <div class="bg-green well content-diagonal-bottom" id="darfor">
            <h2 class="text-center section-heading">Därför är vi <b>Sveriges snabbaste</b> webbyrå</h2>
        </div>
        <div class="triangle">
        </div>
    </section>

    <section class="bg-smoke about-list">
        <div class="bg-white section-padding-md about-item">
            <div class="grid-container">
                <div class="container">
                    <div class="col-5 container-start-center">
                        <img class="svg-icon-dyn" src="../images/icons/icon-flat3d-arrow.svg" onerror="this.onerror=null; this.src='image.png'" alt="">
                    </div>
                    <div class="col-7">
                        <h3 class="marketing-heading h3-to-h4">Flexibelt</h3>
                        <p class="lg-body-text">Vårt unika nätverk av konsulter är alltid redo att kasta sig över ditt projekt. </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="world-green" class="section-padding-md bg-green about-item">
            <div class="grid-container">
                <div class="container">
                    <div class="col-7">
                        <h3 class="marketing-heading h3-to-h4">Globalt</h3>
                        <p class="lg-body-text">Medarbetare i fem tidszoner gör att flitens lampa alltid lyser på ASAP.</p>
                    </div>
                    <div class="col-5 container-start-center">
                        <img class="svg-icon-dyn" src="../images/icons/icon-flat3d-bullseye.svg" onerror="this.onerror=null; this.src='image.png'" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white section-padding-md about-item">
            <div class="grid-container">
                <div class="container">
                    <div class="col-5 container-start-center">
                        <img class="svg-icon-dyn" src="../images/icons/icon-flat3d-bars.svg" onerror="this.onerror=null; this.src='image.png'" alt="">
                    </div>
                    <div class="col-7">
                        <h3 class="marketing-heading h3-to-h4">Effektivt</h3>
                        <p class="lg-body-text">Vår superagila metod gör att vi kodar upp till tio gånger snabbare än konkurrenterna.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-green section-padding-md about-item">
            <div class="grid-container">
                <div class="container">
                    <div class="col-7">
                        <h3 class="marketing-heading h3-to-h4">Non stop</h3>
                        <p class="lg-body-text">Inga möten. Inga fikapauser. Inget julbord. Vi jobbar.</p>
                    </div>
                    <div class="col-5 container-start-center">
                        <img class="svg-icon-dyn" src="../images/icons/icon-flat3d-bulb.svg" onerror="this.onerror=null; this.src='image.png'" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding-md bg-smoke">
        <div class="grid-container">
            <div class="container">
                <div class="col-4 well container-col bg-white dynamic-margin">
                    <div class="well">
                        <h4 class="red-text text-left">Måste produkten lanseras på direkten?</h4>
                        <div class="container-flex-start">
                            <div class="square bg-orange">
                            </div>
                            <p class="black-text text-left block">
                                Vi har sajten klar imorgon.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 well container-col bg-white dynamic-margin">
                    <div class="well">
                        <h4 class="red-text text-left">Har du ett brådskande budskap att föra ut?</h4>
                        <div class="container-flex-start">
                            <div class="square bg-yellow">
                            </div>
                            <p class="black-text text-left">Vi kommunicerar ut det ASAP.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 well container-col bg-white dynamic-margin">
                    <div class="well">
                        <h4 class="red-text text-left">Är webbprojektet farligt nära deadline?</h4>
                        <div class="container-flex-start">
                            <div class="square bg-green">
                            </div>
                            <p class="black-text text-left">Vi ror det iland på nolltid.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div>
        <div class="bg-red well">
            <p class="lead headline-margin text-center white-text">ASAP är specialister på <b>responsiv webb</b>, <b>HTML</b>, <b>CSS</b> och <b>JavaScript</b>.</p>
        </div>
        <svg id="poly-white" class="small-diagonal bg-red" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none">
            <polygon points="0 0 100 10 0 10" fill="white"/>
        </svg>
        <!-- hide on mobile -->
        <svg id="poly-smoke" class="small-diagonal bg-red" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none">
            <polygon points="0 0 100 10 0 10" fill="#e8e8e8"/>
        </svg>
        <!-- -->
    </div>

    <section class="form-section content-diagonal-bottom">
        <div class="form-wrapper bg-smoke grid-container">
            <div class="form-container bg-white">
                <h2 class="section-heading">Kontakta oss redan idag!</h2>
                <form>
                    <div class="container">
                        <div class="col-5">
                            <div class="form-group">
                                <label for="your-name">Namn</label>
                                <div class="form-input">
                                    <input type="text" name="your-name" id="your-name" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="your-email">E-mail</label>
                                <div class="form-input">
                                    <input type="email" name="your-email" id="your-email" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="your-phone">Telefon</label>
                                <div class="form-input">
                                    <input type="tel" name="your-phone" id="your-phone"> </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label for="your-message">Meddelande</label>
                                <div class="form-input">
                                    <textarea name="your-message" id="your-message" required=""> </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Skicka Meddelande" class="btn btn-submit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer>
        <div class="bg-blue">
            <div class="grid-container">
                <div class="container">
                    <div class="col-4">
                        <h4>ASAP DEVELOPMENT</h4>
                        <address>
                                    Tomtebodavägen 3A<br>
                                    171 65 Solna<br>
                                    info@asapdev.se<br>
                                    +46 8 466 60 00
                                </address>
                    </div>
                    <div class="col-8"></div>
                </div>
                <ul class="ul-social">
                    <li><i class="fa fa-facebook-square"></i> <a href="#">Facebook</a></li>
                    <li><i class="fa fa-twitter"></i> <a href="#">Twitter</a></li>
                    <li><i class="fa fa-instagram"></i> <a href="#">Instagram</a></li>
                </ul>
                <a id="scrollTop" href="#" class="btn btn-to-top"><i class="fa fa-angle-up"></i> </a>
            </div>
        </div>
    </footer>
    <script src="../js/main.js"></script>
    <script src="../js/nav.js"></script>
</body>

</html>